<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person name</title>
</head>
<body>
    <h1>Hello Student</h1>
        <% for(let i=0; i<Person.length ; i++ ){ %>
            <li>
                <%= Person[i] %>
            </li>
            <% } %>
</body>
</html>