/* Don't change the existing CSS. */
#outer-box{
  background-color: purple;
}
.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: rgb(255, 0, 149);
  margin: 0;
  padding: 0;
}

.inner-box{
  background-color: red;
}
.white-text{
  color: white;
}