.colot-title{
    font-weight: normal;
}

img{
    height: 200px; 
    width: 200px;
}

*{
    background-color: bisque;
}

#red{
    color: red;
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}