<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Letters</title>
</head>
<body>
    <% if (locals.countNumber) { %>
        <h1>Number : <%= locals.countNumber %></h1>
     
    <% } else {%>
   
        <h1>Enter Name Here !!</h1>
        <% } %>
    <form action="/submit" method="post">
        <input name="fname" type="text" placeholder="First Name">
        <input name="lname" type="text" placeholder="Last Name">
        <button type="submit" value="OK">OK</button>

    </form>
</body>
</html>